:root {
  --primary-color: PowderBlue;
  --secondary-color: #434c56;
}

* {
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* Navigation bar */

/* General */
header {
  height: 5rem;
}

h1 {
  font-size: 3rem;
  background-color: var(--primary-color);
  padding-left: 3rem;
  padding-right: 1rem;
  color: var(--secondary-color);
}

.navbar {
  position: fixed;
  width: 100%;
  background-color: var(--secondary-color);
  background-size: cover;
  z-index: 10;
}
.navbar-nav {
  margin-left: auto;
  margin-right: 0 !important;
}

.nav-link {
  color: var(--primary-color) !important;
}

.nav-item {
  margin: 0 1rem;
  border-bottom: 0.2rem solid var(--primary-color);
}

/* hero section */
.jumbotron {
  background: url("../images/avatar.jpg");
  background-size: cover;
  min-height: 100vh;
}

.jumbotron > div.container {
  display: flex !important;
  align-items: flex-end !important;
  justify-content: flex-end !important;
  min-height: 100vh;
}

.jumbotron > div.container > h1 {
  width: 50%;
}

/* all sections */
.container {
  margin-bottom: 1.5rem;
  padding-bottom: 1rem;
}

.section-header {
  font-size: 3rem;
  font-weight: bold;
  color: var(--secondary-color);
  border-right: 0.3rem solid var(--secondary-color);
  text-align: right;
  line-height: 4rem;
  padding-right: 1rem;
  height: 100%;
}

/* card */
.card {
  object-fit: cover;
  border: 0.5rem solid var(--primary-color);
}

.card-body {
  padding: 0;
  height: 290px;
}

.card-body p {
  padding: 1rem;
}

.card h5 {
  font-size: 1.5rem;
  font-weight: bold;
  background-color: var(--primary-color);
  padding: 1rem;
  margin: 0;
}

.card-img-top {
  max-height: 100px;
}
/* skills section */

.card h6 {
  justify-content: center;
}

.card-link {
  margin: 2rem;
}

.colored-text {
  color: var(--primary-color);
  font-weight: bold;
}

/* contact section */

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
}
